*.sdf
*.suo
*.user
*.opensdf
*.opendb
ipch
Debug
Release
install_manifest.txt
*~
.\#*
\#*\#
#*.sln
*.suo
*.filters
*#.vcxproj
*.ipdb
*.iobj
*.idb
*.pdb
#*.sln
*.suo
*.filters
*#.vcxproj
*.ipdb
*.iobj
